<footer class="mt-32 pt-8 border-t border-black font-mono text-xs text-gray-500">
  <div class="flex justify-between items-center">
    <p>&copy;  Malachai Frazier <%= Date.today.year %></p>
    <%= link_to "Open Source", "https://github.com/malachaifrazier/malachaifrazier.com", 
        class: "hover:opacity-50 transition-opacity underline" %>
  </div>
</footer>
