<% content_for :meta do %>
  <meta property="profile:first_name" content="Malachai">
  <meta property="profile:last_name" content="Frazier">
<% end %>

<div class="font-serif prose dark:prose-invert">
  <p class="text-3xl">
    Product-focused engineer & technical creative building, satirical media, community apps, micro apps, and a better life.
    <%# Currently building <a target="_blank" href="https://comiccollab.com">ComicCollab</a>,
    where comic book creators find each other. %>
  </p>
  <p class="text-2xl">
    You can find me on <a target="_blank" href="https://bsky.app/profile/malcreatesstuff.bsky.social">Bluesky</a>,
    <a target="_blank" href="https://twitter.com/malcreatesstuff">X.com</a>,
    <a target="_blank" href="https://github.com/malachaifrazier/">GitHub</a>, and
    <a target="_blank" href="https://www.linkedin.com/in/malachaifrazier/">LinkedIn</a>. <br>
    Get my latest Resume <a
      target="_blank"
      href="https://docs.google.com/document/d/1guXfyC6GUnj-31vumIZZvS_9eAWdWerZ0f8DZJ5ESsE/edit?usp=sharing">
       Google Docs  here
    </a>.
  </p>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Malachai Frazier",
  "url": "https://malachaifrazier.com",
  "image": "https://avatar.malachaifrazier.com",
  "sameAs": [
    "https://twitter.com/malcreatesstuff",
    "https://x.com/malcreatesstuff",
    "https://malachaifrazier.com",
    "https://github.com/malachaifrazier",
    "https://www.linkedin.com/in/malachaifrazier/"
  ],
  "jobTitle": "Freelance Developer",
  "worksFor": {
    "@type": "Organization",
    "name": "Malachai Frazier"
  }
}
</script>
