<% content_for :meta do %>
  <meta property="profile:first_name" content="Malachai">
  <meta property="profile:last_name" content="Frazier">
<% end %>

<div class="font-serif prose dark:prose-invert">
  <p class="text-3xl">
    Ruby on Rails Mechanic, Handyman and Technical Creative.
    Currently building <a target="_blank" href="https://comiccollab.com">ComicCollab</a>,
    where comic book creators find each other.
  </p>
  <p class="text-2xl">
    You can find me on <a target="_blank" href="https://twitter.com/malcreatesstuff">X.com</a>. I am there... sometimes.
  </p>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Malachai Frazier",
  "url": "https://malachai.xyz",
  "image": "https://avatar.malachai.xyz",
  "sameAs": [
    "https://twitter.com/malcreatesstuff",
    "https://x.com/malcreatesstuff",
    "https://malachai.xyz",
    "https://github.com/malachaifrazier",
    "https://www.linkedin.com/in/malachaifrazier/"
  ],
  "jobTitle": "Freelance Developer",
  "worksFor": {
    "@type": "Organization",
    "name": "Malachai Frazier"
  }
}
</script>